*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.toc
ibanez_thesis.pdf
ibanez_thesis.out
*.mpx
arraylist.png
flex.png
full_rep.png
mixed.png
oo.png
def_topo.png
zoo.png
solid_angle.png
adjs_mds.png
adjs_osh.png
down.png
mptextmp.mp
mpxerr.tex
up.png
up_down_mesh.png
90deg_interp.png
